OPENAI_API_KEY=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
TAVILY_API_KEY=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
DATABASE_URL=sqlite+aiosqlite:///./arbitrator.db
